<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
</head>

<body>
  <form action="/register" method="GET">
    <p>
      Luo uusi käyttäjä:
      <input type="submit" value="Rekisteröidy"/>
    </p>
  </form>
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
</body>

</html>